spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mariadb://localhost:3306/app}
    username: ${SPRING_DATASOURCE_USERNAME:app}
    password: ${SPRING_DATASOURCE_PASSWORD:app1234}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

server:
  port: ${SERVER_PORT:8080}

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:local_jwt_secret}
    access-token-validity-ms: ${SECURITY_JWT_AT_EXPIRE:18000000}   #5hours
    refresh-token-validity-ms: ${SECURITY_JWT_RT_EXPIRE:1209600000} #14days

cloud:
  aws:
    credentials:
      access-key:
      secret-key:
    region:
      static: ap-northeast-2

encryption:
  aesgcm:
    passphrase: ${ENCRYPTION_PASSPHRASE:have-to-change}
    iterations:
    key-length:
    salt-length:
    iv-length:
gemini:
  api-key: ${GOOGLE_API_KEY:secret-key}
  model: gemini-2.5-flash
  endpoint: https://generativelanguage.googleapis.com/v1beta/models